<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shuaigef.springbootinit.mapper.AuthorityMapper">

    <resultMap id="BaseResultMap" type="com.shuaigef.springbootinit.model.entity.Authority">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="code" column="code" jdbcType="VARCHAR"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="orderNo" column="order_no" jdbcType="INTEGER"/>
            <result property="parentId" column="parent_id" jdbcType="BIGINT"/>
            <result property="authorityType" column="authority_type" jdbcType="VARCHAR"/>
            <result property="redirect" column="redirect" jdbcType="VARCHAR"/>
            <result property="path" column="path" jdbcType="VARCHAR"/>
            <result property="hidden" column="hidden" jdbcType="TINYINT"/>
            <result property="menuIcon" column="menu_icon" jdbcType="VARCHAR"/>
            <result property="component" column="component" jdbcType="VARCHAR"/>
            <result property="componentName" column="component_name" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,code,name,
        order_no,parent_id,authority_type,redirect,
        path,hidden,menu_icon,
        component,component_name,create_time,
        update_time
    </sql>

    <select id="findListByUserIdAndType" resultType="com.shuaigef.springbootinit.model.entity.Authority">
        SELECT a.*
        FROM authority AS a
               LEFT JOIN role_authority AS ra on ra.authority_id = a.id
               LEFT JOIN user AS u on u.role_id = ra.role_id
        WHERE u.id = #{userId}
    </select>
</mapper>
